body {
    margin: 0;
    padding: 0;
}
header {
    background-image: url('img/bg-slider.png') ;
    padding-bottom:  50%;
    background-size: cover;
}
.logo {
    position: absolute;
    top: 50px;
    left: 40px;
}
.l1 {
    text-decoration: none;
    text-decoration-color: white;
    font-size: 20px;
    display: inline-block;
    position: relative;
    margin-right: 40px;
}
.submenu
{
    list-style-type: none;
}
nav {
    position: absolute;
    top: 50px;
    right: 10px;
}

.a1 {
    text-decoration: none;
    color: white;
    font-family: monospace;
    text-transform: uppercase;
}
.ava {
    text-align: center;
}
h4 {/* заголовок статьи*/
    font-style: italic;
    font-size: 30px;
    -webkit-margin-before: 0.9em;
    -webkit-margin-after: 0.6em;
    position: relative;


}

.span:before, .span:after { /*разделитель*/
    content: '  ';
    display: inline-block;
    width: 60px;
    height: 1px;
    top: -5px;
    background: #303030;
    position: relative;
    margin:0 10px ;
    }

.span1{/*отступ разделител€*/
    -webkit-margin-after: 0.9em;
}


.text {/*параметры текста в статье*/
    margin:0 ;
    width: 1000px;
    text-align: center;
    display: inline-block;
    font-family: inherit;

}
.text1 {/*курсив*/
    margin: 0;
    padding: 0;
    font-style: italic;
}
.img {/*дл€  одной картинки*/
    margin: 1em 0 0.6em;/* дл€ подписей*/

}
.round {
    /*круглые кнопки*/
    border-radius: 100px; /* –адиус скруглени€ */
    box-shadow: 0 0 7px #666; /* ѕараметры тени */
    margin-right: 15px;
}
.round:hover{/*смена при навидение*/
    background-color: black;
}

.wrap {/*центрирует*/
    text-align: center;

}

.portfolio-item {/*...походу выстраивает картинки в линию*/

    display: inline-block;
    position: relative;
    cursor: pointer;
}
.portfolio-detail { /*накладывает эффект затимнени€ (возможно анимаци€ тоже сюда)*/
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(48, 48, 48, 0.6);
    width: 271px;
    height: 278px;
    color: white;
    display: none;
    transition-property: background-color;
    transition-duration: 3s

}
.portfolio-detail h3 {/*позиционирование текста*/
    margin-top: 100px;

}
.portfolio-item:hover .portfolio-detail {
    /*при навидение выводит блок*/
    display: block;
}

.flowersblc {
    width: 976px;
    height: auto;
    text-align: center;
    margin:0 auto ;
}

.flowers {
    float: left;
    text-align: center;

  }
.lorem {
    display: inline-block;
    width: 600px;
    height: auto;
    padding: 10px;
    margin: 10px;

}
.flowersh4 {
    padding: 10px;
    margin: 10px;
    display: inline-block;
}


